@import url("https://fonts.googleapis.com/css2?family=Mate&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Belleza&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Mate", serif;
  font-family: "Cinzel Decorative", cursive;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

#header {
  min-height: 100vh;
  background-image: url("../public/PortfolioHeader.png");
  background-size: cover;
  font-family: "Belleza", sans-serif;
}
.header-content {
  margin-top: 10rem;
}
.header-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 7rem;
  position: relative;
}
.meme {
  position: absolute;
  top: 65%;
}

.header-container img {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
}
#header h1 {
  font-family: "Playfair Display", serif;
  text-shadow: 2px 3px 8px rgba(0, 0, 0, 0.5);

  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 120%;
  /* or 77px */

  /* font / high-emphasis */

  color: #25282b;
}
#header ul {
  display: flex;

  gap: 25px;
  list-style: none;
}
#header ul li {
  transition: all 0.2s;
  cursor: pointer;
}
#header ul li:hover {
  transform: translateY(-5px);
}
#header p {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  /* or 36px */

  /* font / medium-emphasis */

  color: #828282;

  width: 486px;

  font-family: "Belleza", sans-serif;
  padding-top: 10px;
  padding-bottom: 5px;
}
#services {
  min-height: 100vh;
  position: relative;
  background-color: #f9f9f9;
  background-image: url("../public/bluewavebg.jpg");
  background-size: cover;
}
.credit {
  position: absolute;
  top: 85%;
  left: 80%;
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
  text-shadow: 2px 3px 8px rgba(0, 0, 0, 0.3);
}
#services h1 {
  text-shadow: 2px 3px 8px rgba(0, 0, 0, 0.3);
  padding-bottom: 2rem;
  font-size: 45px;
  font-weight: bold;
}
#services .sub-head {
  font-size: 18px;
  top: 85px;
  font-weight: bold;
  color: navy;
}

.services-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-cards {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 7.5rem;
  gap: 70px;
  font-family: "Quicksand", sans-serif;
  padding-top: 20px;
  margin-bottom: 2rem;
}
.service-card {
  width: 250px;
  height: 300px;
  position: relative;
  transition: all 0.2s;
  padding: 17px;
  background-color: rgb(249, 249, 249, 0.7);
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.service-card:hover {
  transform: scale(0.8);
  background-color: #f2f2f2;
}
.service-card img {
  width: 100%;
  height: 80%;
  border-radius: 16px;
  object-fit: contain;
}
.service-card h3 {
  font-size: 24px;
  font-family: "Belleza", sans-serif;
}
.service-card p {
  font-size: 13px;

  text-align: start;
}
#work {
  min-height: 100vh;
  background-color: rgb(238, 241, 255, 0.7);
  /* background-image: url('../public/bluewavebg1.jpg');
  background-size: cover;*/
  position: relative;
}
#work h1 {
  font-family: "Belleza", sans-serif;
  line-height: 60px;
  font-size: 60px;
  text-shadow: 2px 3px 8px rgba(0, 0, 0, 0.3);
}
#work .sub-head {
  font-size: 18px;
  top: 85px;
  font-weight: bold;
  color: navy;
  padding-top: 35px;
}
#work ul {
  margin-top: 5.7rem;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  font-family: "Belleza", sans-serif;
  flex-wrap: wrap;
}

#work ul li button {
  background-color: whitesmoke;
  border: none;
  color: black;
  padding: 13px;
  border-radius: 10px;
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.2s;
}
#work ul li button:hover {
  transform: scale(1.1);
}
#work ul li button:active {
  background-color: #6f38c5;
  color: white;
}

.work-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.work-cards {
  width: 70%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2rem;
  gap: 70px;
  font-family: "Quicksand", sans-serif;
  margin-bottom: 5rem;
}

.work-card {
  width: 250px;
  height: 300px;
  position: relative;
  transition: all 0.2s;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.3);
}
.work-card p {
  font-size: 13px;
}

.work-card:hover {
  transform: scale(0.9);
  background-color: #f2f2f2;
}
.work-card:hover .work-hoverdata {
  display: block;
  opacity: 1;
}
.work-card img {
  width: 100%;
  height: 50%;
  object-fit: fill;
  border-radius: 10px;
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.3);
}

#skills {
  min-height: 100vh;
  position: relative;

  font-family: "Belleza", sans-serif;
}
.frontend-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  gap: 5rem;
}
.frontend-container ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 60%;
}
.frontend-container ul li {
  margin: 15px;
  border-radius: 50%;
  background-color: whitesmoke;
  box-shadow: 0px 7px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 80px;
  height: 80px;
}
.frontend-container ul li:hover {
  transform: translateY(-20px);
}
.frontend-container h3 {
  /* font-weight: bold; */
  font-family: "Belleza", sans-serif;
}
#about {
  min-height: 70vh;
  font-family: "Belleza", sans-serif;
  position: relative;
}
#about .sub-head {
  font-size: 18px;
  top: 85px;
  font-weight: bold;
  color: navy;
  padding-top: 35px;
}
.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 7rem;
  margin-top: 7rem;
  margin-bottom: 5rem;
}
.contact-info h4 {
  font-size: 25px;
}
.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
  /* margin-top: 10rem; */
}
.about-para {
  font-size: 12px;
}

form {
  width: 25%;
  display: flex;

  align-items: center;
  flex-direction: column;
  background-color: whitesmoke;
  position: relative;
  gap: 2rem;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.3);
}
form input {
  width: 90%;
  height: 50px;
  border: 1px grey solid;
  padding: 10px;
  border-radius: 8px;
}
form textarea {
  width: 90%;
  border: 1px grey solid;
  padding: 10px;
  border-radius: 8px;
  min-height: 150px;
  max-height: 200px;
}
form button {
  width: 150px;
  height: 50px;
  border: none;
  background-color: #25316d;
  color: white;
  border-radius: 10px;
  transition: all 0.2s;
}
form button:hover {
  transform: scale(1.1);
}
.footer-container {
  background-color: #25316d;
  margin-top: 10%;
  padding: 2rem;
}
.social {
  text-align: center;
  padding: 10px;
  font-size: 45px;
  color: white;
}
.icon {
  margin: 15px;
  cursor: pointer;
}
.icon:hover {
  color: #9cb4cc;
  transform: scale(1.1);
}
.footer-container ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "Belleza", sans-serif;
}
.footer-container li {
  margin: 20px;
}
.footer-container li a {
  text-decoration: none;
  color: #dadada;
  font-size: 25px;
}
.footer-container li a:hover {
  color: #9cb4cc;
}
.footer-container h1 {
  text-align: center;
  color: white;
  font-size: 25px;
}

.navbar a {
  font-weight: bold;
  transition: all 0.2s;
}
.navbar a:hover {
  text-shadow: 2px 3px 8px rgba(0, 0, 0, 0.3);
  transform: translateY(2px);
}
.skills-container {
  margin-top: 7rem;
  margin-left: 7rem;
}

hr {
  width: 50%;
  margin-left: 15%;
}

.info-btn {
  width: 215px;
  text-align: center;
  padding: 12px;
  border: none;
  background-color: #f2f2f2;
  border-radius: 5px;
  font-size: 17px;
  margin: 15px;
  color: black;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.3);
}

.work-hoverdata {
  display: none;
}
.eye-icon {
  margin-left: 90px;
  cursor: pointer;
}
.eye-icon:hover {
  transform: scale(1.1);
}

.about-content p {
  font-size: 25px;
  width: 400px;
  font-family: "Belleza", sans-serif;
}

@media all and (max-width: 1400px) {
  .header-content {
    left: 27%;
  }
}

@media all and (max-width: 900px) {
  .credit {
    display: none;
  }
  /* .sub-head {
    position: absolute;
    left: 10px;
  } */
  #header {
    display: flex;
    gap: 1rem;
  }
}

@media all and (max-width: 700px) {
  #header h1 {
    font-size: 40px;
  }
  #header p {
    width: 300px;
  }

  #header img {
    width: 80%;
    margin: auto;
  }

  #services .sub-head {
    font-size: 18px;
  }
  #work .sub-head {
    font-size: 18px;
    padding-top: 3rem;
  }
  .contact-info {
    gap: 2rem;
  }
  .about-content p {
    width: 200px;
  }

  form {
    width: 400px;
  }

  #services h1 {
    font-size: 35px;
  }
  #work h1 {
    font-size: 45px;
  }
  #about .sub-head {
    font-size: 18px;
    padding-top: 3rem;
  }
}
